.secondaryHeading{
    position:relative !important; 
    Top:50%;
    left:50%;
    transform: translate(-50%,0);
  
}

#video{
    width:800px;
    height:400px;
    position:relative;
    Top:50%;
    left:50%;
    transform: translate(-50%,0);

}
.pretention{
    width:610px;
    height:400px;
    position:relative;
    Top:50%;
    left:50%;
    transform: translate(-50%,0);

}